.idea/.name
.idea/apollo.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
*/*.pyc
*/*/*.pyc
apollo/apollo/*.pyc
*.sqlite3
apollo/restapi/migrations/*
.idea/compiler.xml
.idea/uiDesigner.xml
.idea/copyright/profiles_settings.xml
