<div class="jumbotron">
    <form ng-submit="login()">
        <ng-form >
            <div class="row">
                <div class="text-center" id="apollo-login-header">
                    <p><small>Apollo, Logz.io continuous deployment.</small></p>
                    <p>Please Login</p>
                </div>

                <div class="text-center col-lg-2 col-lg-offset-5">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Your email@logz.io" ng-model="email" autofocus required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Super secured password" ng-model="password" required>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="text-center">
                    <div>
                        <input type="submit" value="Give Me Some Awesomeness" id="apollo-login-button" class="btn btn-success btn-sm">
                    </div>
                </div>
            </div>
        </ng-form>
    </form>
</div>
