<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Deployments History</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="revert-spinner"></span>
    <div class="col-lg-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading apollo-form-headline">
                Filters
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-circle apollo-clear-filter" uib-tooltip="Clear filters" ng-click="clearFilters()">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-3 text-center" >
                    <span class="apollo-form-headline">Service</span> <br>
                    <select class="form-control apollo-filter" ng-model="serviceSearch" ng-options="service.name for service in allServices">
                        <option value="">-- choose service --</option>
                    </select>
                </div>
                <div class="col-lg-3 text-center">
                    <span class="apollo-form-headline">Environment</span> <br>
                    <select class="form-control apollo-filter" ng-model="environmentSearch" ng-options="environment.name for environment in allEnvironments">
                        <option value="">-- choose environment --</option>
                    </select>
                </div>
                <div class="col-lg-3 text-center">
                    <span class="apollo-form-headline">User</span> <br>
                    <select class="form-control apollo-filter" ng-model="userSearch" ng-options="user.userEmail for user in allUsers">
                        <option value="">-- choose user --</option>
                    </select>
                </div>
                <div class="col-lg-3 text-center">
                    <span class="apollo-form-headline">Status</span> <br>
                    <select class="form-control apollo-filter" ng-model="statusSearch">
                        <option value="" selected>-- choose status --</option>
                        <option ng-repeat="deployment in allDeployments | unique: 'status'" value="{{deployment.status}}">{{deployment.status}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading apollo-form-headline">
                Past & Current Deployments
            </div>
            <div class="panel-body">
                <div class="">
                    <table class="table table-responsive" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Last Updated</th>
                            <th>Service</th>
                            <th>Environment</th>
                            <th>Group</th>
                            <th>Initiated By</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="deployment in allDeployments | filter:{status: statusSearch} |
                                                                          filter:{serviceId: serviceSearch.id} |
                                                                          filter:{environmentId: environmentSearch.id} |
                                                                          filter:{userEmail: userSearch.id} |
                                                                          orderBy: 'deploymentLastUpdate': true">
                                <td>{{deployment.id}}</td>
                                <td>{{deployment.lastUpdate | date:'dd/MM/yy HH:mm:ss'}}</td>
                                <td>{{allServices[deployment.serviceId].name}}</td>
                                <td>{{allEnvironments[deployment.environmentId].name}}</td>
                                <td>{{deployment.groupName}}</td>
                                <td>{{allUsers[deployment.userEmail].userEmail}}</td>
                                <td><span class="label" ng-class="getLabel(deployment.status)">{{deployment.status}}</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-circle" uib-tooltip="Details"
                                            ng-click="setSelectedDeployment(deployment); showDetails()"
                                            data-toggle="modal" data-target="#show-details">
                                        <i class="fa fa-info"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-circle" uib-tooltip="Back to this version"
                                            ng-click="setSelectedDeployment(deployment)"
                                            data-toggle="modal" data-target="#confirm-revert">
                                        <i class="fa fa-undo"></i>
                                    </button>
                                    <button type="button" class="btn btn-success btn-circle" uib-tooltip="Environment status"
                                            ng-click="setSelectedDeployment(deployment); showEnvStatus(deployment)"
                                            data-toggle="modal" data-target="#show-env-status">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-circle disabled" uib-tooltip="{{deployment.deploymentMessage || 'No message was provided'}}">
                                        <i class="fa fa-comments"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="confirm-revert" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Sure?</h4>
                </div>
                <div class="modal-body">
                    This will revert the current version to that version. <br>
                    <b>THIS CAN SERIOUSLY BREAK THINGS!</b> <br>
                    Please, be <b>100% sure</b> that this is what you want to do, <br>
                    and double check with at least 2 people that this is really, <b>really</b> what you want to do.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="revert()">
                        I'm 100% sure, and I know it can break everything!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="show-details" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Deployment Details</h4>
                </div>
                <div class="modal-body">
                    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="details-spinner"></span>
                    <table class="table">
                        <tr>
                            <td>Commit Sha</td><td><a target="_blank" href="{{deployableVersion.commitUrl}}">{{deployableVersion.gitCommitSha | limitTo: 7}}</a></td>
                        </tr>
                        <tr>
                            <td>Commit Author</td><td><img class="apollo-committer-image" ng-src="{{deployableVersion.committerAvatarUrl}}">{{deployableVersion.committerName}}</td>
                        </tr>
                        <tr>
                            <td>Commit Message</td><td>{{deployableVersion.commitMessage}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="show-env-status" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Environment Status</h4>
                </div>
                <div class="modal-body">
                    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="details-spinner"></span>
                    <table class="table" style="table-layout: fixed">
                        <tr>
                            <pre>{{ envStatusWithServiceNames | json }}</pre>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
