<div>
    <div class="row">
        <div class="col-lg-9">
            <h1 class="page-header">New Deployment</h1>
        </div>
    </div>

    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="deployment-spinner"></span>
    <div class="row" ng-switch on="currentStep">

        <!-- Environment chooser div -->
        <div class="col-lg-12 col-sm-12 animate-switch-container" ng-switch-when="choose-environment">
            <div class="panel panel-default">
                <div class="panel-heading apollo-form-headline">
                    Select environment
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover" datatable="ng" dt-options="dtOptions">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Region</th>
                                <th>Availability</th>
                                <th>Kubernetes Master</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="environment in allEnvironments | filter:globalSearch"
                                ng-click="setSelectedEnvironment(environment)"
                                ng-class="{'active':environment.id == environmentSelected.id}">
                                <td>{{environment.name}}</td>
                                <td>{{environment.geoRegion}}</td>
                                <td>{{environment.availability}}</td>
                                <td>{{environment.kubernetesMaster}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- Service chooser div -->
        <div class="col-lg-12 col-sm-12 animate-switch-container" ng-switch-when="choose-service">
            <div class="panel panel-default">
                <div class="panel-heading apollo-form-headline">
                    Select service
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover" datatable="ng" dt-options="dtOptions">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>YAMLs</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="service in allServices | filter:globalSearch"
                                ng-click="setSelectedService(service)"
                                ng-class="{'active':service.id == serviceSelected.id}">
                                <td>{{service.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" uib-tooltip="See kubernetes deployment YAML"
                                        data-toggle="modal" data-target="#show-kubernetes-deployment-yaml">
                                        Deployment
                                    </button>
                                    <button type="button" class="btn btn-primary" uib-tooltip="See kubernetes deployment YAML"
                                        data-toggle="modal" data-target="#show-kubernetes-service-yaml">
                                        Service
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Version chooser div -->
        <div class="col-lg-12 col-sm-12 animate-switch-container" ng-switch-when="choose-version">
            <div class="panel panel-default">
                <div class="panel-heading apollo-form-headline">
                    Select version
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover" datatable="ng" dt-options="dtOptionsDeployableVersion" dt-column-defs="dtColumnDefsDeployableVersion">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Commit</th>
                                <th>Message</th>
                                <th>Author</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="deployableVersion in allDeployableVersions | filter:globalSearch | filter: {serviceId: serviceSelected.id}"
                                ng-click="setSelectedVersion(deployableVersion)"
                                ng-class="{'active':deployableVersion.gitCommitSha == versionSelected.gitCommitSha}">
                                <td>{{deployableVersion.commitDate | date:'dd/MM/yy HH:mm:ss'}}</td>
                                <td><a target="_blank" href="{{deployableVersion.commitUrl}}">{{deployableVersion.gitCommitSha | limitTo: 7}}</a></td>
                                <td>{{deployableVersion.commitMessage}}</td>
                                <td><span><img class="apollo-committer-image" ng-src="{{deployableVersion.committerAvatarUrl}}">{{deployableVersion.committerName}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-sm-12 animate-switch-container" ng-switch-when="confirmation">

            <div class="well">
                <h4>So just making sure</h4>
                <p> You are going to deploy commit <b>{{versionSelected.gitCommitSha}}</b><br>
                    to service <b>{{serviceSelected.name}}</b><br>
                    on environment <b>{{environmentSelected.name}}</b></p>
                <br>
                <button class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#confirm-modal">That is correct</button>
            </div>

            <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Fashizle?</h4>
                        </div>
                        <div class="modal-body">
                            Confirm here will actually deploy you commit. <br>
                            You will be able to revert, but just be sure. <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deploy()">Just deploy already!</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="pull-right">
        <button type="button" ng-if="showNextStep" class="btn btn-success btn-circle btn-lg apollo-flow-button" ng-click="nextStep()">
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>

    <div class="modal fade" id="show-kubernetes-deployment-yaml" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Kubernetes Deployment YAML</h4>
                </div>
                <div class="modal-body">
                    <pre class="apollo-logs">
{{serviceSelected.deploymentYaml}}
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="show-kubernetes-service-yaml" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Kubernetes Service YAML</h4>
                </div>
                <div class="modal-body">
                    <pre class="apollo-logs">
{{serviceSelected.serviceYaml}}
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
